<!-- Project Wonderful Ad Box Loader -->
<script type="text/javascript">
   (function(){function pw_load(){
      if(arguments.callee.z)return;else arguments.callee.z=true;
      var d=document;var s=d.createElement('script');
      var x=d.getElementsByTagName('script')[0];
      s.type='text/javascript';s.async=true;
      s.src='//www.projectwonderful.com/pwa.js';
      x.parentNode.insertBefore(s,x);}
   if (window.attachEvent){
    window.attachEvent('DOMContentLoaded',pw_load);
    window.attachEvent('onload',pw_load);}
   else{
    window.addEventListener('DOMContentLoaded',pw_load,false);
    window.addEventListener('load',pw_load,false);}})();
</script>
<!-- End Project Wonderful Ad Box Loader -->

<div class="center hero-unit">
  <div id="hero">
    <h1>MandarinBanana</h1>

    <h2>&nbsp;&nbsp;&nbsp;Remembering Chinese characters with comics and movies&nbsp;&nbsp;&nbsp;</h2>
    <br/>
    <%= link_to "first comic", featured_image_path(FeaturedImage.first), class: "btn btn-large btn-primary" unless FeaturedImage.first.nil? %>
    &nbsp;&nbsp;&nbsp;
    <%= fimage_preview(@previous_previous_featured_image) unless @previous_previous_featured_image.nil? %>
    &nbsp;&nbsp;&nbsp;
    <%= fimage_preview(@previous_featured_image) unless @previous_featured_image.nil? %>
    &nbsp;&nbsp;&nbsp;
    <%= fimage_preview(@fimage) unless @fimage.nil? %>
  </div>
</div>
<div class="ads">
<!-- Project Wonderful Ad Box Code -->
<div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_74989_1_0"></div></div>
<script type="text/javascript"></script>
<noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap74989" id="admap74989"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=74989&type=1" shape="rect" coords="0,0,468,60" title="" alt="" target="_blank" /></map>
<table cellpadding="0" cellspacing="0" style="width:468px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=74989&type=1" style="width:468px;height:60px;border-style:none;" usemap="#admap74989" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=74989&type=1&tag=105112" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
</noscript>
<!-- End Project Wonderful Ad Box Code -->
</div>
<div class="center">
  <h1>How this works</h1>
  <p>Learning to remember Chinese characters has been a pain for a long time, but with comics and movies, it's a lot easier. Here's how it works.</p>
  <p>In each comic, all the information about a certain Chinese character—translations, pronunciation, elements—are encoded as parts of the
  comic. Consider the following example:</p>
  <h2>Sherlock Holmes in the Erechtheion</h2>
  <%= image_tag "64.png" %>
  <p>So here's Sherlock Holmes in the Erechtheion's bathroom. These two pieces of information tell us the pronunciation: <b>Sh</b>erlock Holmes is
  for <b>sh-</b>, the <b>E</b>rechtheion is for <b>-e</b>, and the bathroom is the fourth tone. Which gives:</p>
  <h2>sh + e + 4 = she4</h2>
  <p>What about the components? The monk's cowls represent "礻", a character component meaning "cult". The heap of dirt on the right hand side represents "
  土", which means "earth". This gives:</p>
  <h2>礻 + 土 = 社</h2>
  <p>But what does 社 actually mean? One of the translations is "society". To combine all this information, just read the mnemonic story once and look at
  the picture:</p>
  <p><b>Sh</b>erlock Holmes (sh-) is doing an undercover investigation in the <b>E</b>rechtheion's bathroom (-e4). There's a forbidden mysterious cult (the monk's cowls: <a href=/hurl/礻>礻</a>, the cult itself being seen as club: <a href=/hurl/社>社</a>) praying to a fossilized heap of dirt (<a href=/hurl/土>土</a>).</p>
  <!-- <h1>Why this works</h2>
  <h2>Reason 1: our brains work with emotion and images, not facts and data</h2>
  <a href="https://en.wikipedia.org/wiki/Emotion_and_memory">Emotion and memory</a>
  <h2>Elaborate mnemonic system!</h2>
  <h2>Memory palace!</h2>
  <h2>Holistic learning!</h2>
  <h2>Context!</h2> -->
  <br/>
  <h1>What's new</h1>
    <ul class="left">
      <li>Mnemonics count: <%= @mnemonic_total_count %></li>
      <li>Chinese characters covered: <%= @mnemonic_uniq_count %></li>
      <li>Characters covered in the last seven days: <%= @mnemonic_count_7_days %></li>
      <li>Characters covered today: <%= @mnemonic_count_today %></li>
    </ul>
  <br/>
  <br/>
  <h1>To Be Continued</h1>
  <p class="center">Can you find mnemonics for these characters?</p>
  <div><p class="center"><%= display_next(@next) %></p></div>
  <p class="center">There are <%= @to_be_covered_count %> Chinese characters left to be covered in <%= link_to "the movies", movies_path %>.</p>
</div>

