<div class="mnemonic">
<%= mnemonic.aide %><br/>
<div class="signature"><span class="timestamp">- <%= User.find_by(id: mnemonic.user_id).name %>, <%= time_ago_in_words(mnemonic.created_at) %>
  ago</span> | <a href="/mnemonics/<%= mnemonic.id %>/images/new">add a painting to this mnemonic</a>
  <% if signed_in? %>
    <% if current_user?(User.find_by(id: mnemonic.user_id)) || current_user.admin? %>
      | <%= link_to "edit", edit_mnemonic_path(mnemonic) %>
      | <%= link_to "delete", mnemonic, method: :delete, data: { confirm: "Are you sure?" }  %>
    <% end %>
  <% end %>
</div>

<% if mnemonic.images.any? %>
<br/>
<% end %>
<% mnemonic.images.each do |image| %>
  <img width=200 src="<%= image.data %>">
<% end %><br/>
</div>
