<% provide(:title, "Edit your mnemonic") %>

<% if @parent == "pinyindefinitions" %>
  <h1>Edit your mnemonic for <span class="hanzi"><%= @hanzi.character %></span></h1>
  <%= render @hanzi %>
  <% if !@gbeginning_obj.nil? %>
    <h2>Mnemonics for <%= @gbeginning %>:</h2>
    <div class="center">
    <% @gbeginning_obj.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
    <a href="/gorodishes/<%= @gbeninning_obj %>/mnemonics/new">add mnemonic</a></br>
    </div>
  <% end %>
  <% if !@gending_obj.nil? %>
    <h2>Mnemonics for <%= @gending %>:</h2>
    <div class="center">
    <% @gending_obj.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
    <a href="/gorodishes/<%= @gending_obj %>/mnemonics/new">add mnemonic</a></br>
    </div>
  <% end %>
  <%= render partial: "hanzis/appearance" %>
<% end %>

<% if @parent == "gorodishes" %>
  <h1>Edit your mnemonic for <%= @gorodish.element %></h1>
  <% if @gorodish.mnemonics.count > 0 %>
    <h2>Current mnemonics:</h2>
    <% @gorodish.mnemonics.each do |mnemonic| %>
      <%= mnemonic.aide %><br/>
    <% end %>
  <% end %>
<% end %>

<div>
  <%= render 'shared/mnemonics_form' %>
</div>
