<% provide(:title, 'Recent mnemonics') %>
<h1>All mnemonics</h1>

<div class="center">
<%= will_paginate %>

  <ul class="comments">
  <% @mnemonics.each do |mnemonic| %>
    <li>
    <% if !mnemonic.pinyindefinition_id.nil? then %>
      <% @pydef = Pinyindefinition.find(mnemonic.pinyindefinition_id) %>
      <% @hanzi = Hanzi.find(@pydef.hanzi_id) %>
      <span class="big-char">
	<%= link_to @hanzi.character, @hanzi, { class: "hanzi" } %>
      </span>
      <%= render mnemonic %>
    <% elsif !mnemonic.gorodish_id.nil? then %>
      <% @gorodish = Gorodish.find(mnemonic.gorodish_id) %>
      <span class="big-char">
	<%= link_to @gorodish.element, @gorodish %>
      </span>
      <%= render mnemonic %>
    <% end %>
    </li>
  <% end %>
  </ul>

<%= will_paginate %>
</div>
