<% @ancestor = Pinyindefinition.find_by(id: @id).pinyin if @parent == "pinyindefinitions" %>
<% @ancestor = Gorodish.find_by(id: @id).element if @parent == "gorodishes" %>

<% if @parent == "pinyindefinitions" %>
  <h1>Invent a new mnemonic for <%= @hanzi.character %></h1>
  <%= render @hanzi %>
  <% if !@gbeginning_obj.nil? %>
    <h2>Mnemonics for <%= @gbeginning %>:</h2>
    <div class="center">
    <% @gbeginning_obj.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
    <a href="/gorodishes/<%= @gbeninning_obj %>/mnemonics/new">add mnemonic</a></br>
    </div>
  <% end %>
  <% if !@gending_obj.nil? %>
    <h2>Mnemonics for <%= @gending %>:</h2>
    <div class="center">
    <% @gending_obj.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
    <a href="/gorodishes/<%= @gending_obj %>/mnemonics/new">add mnemonic</a></br>
    </div>
  <% end %>

  <%= render partial: "hanzis/appearance" %>

<% end %>

<% if @parent == "gorodishes" %>
  <h1>Invent a new mnemonic for <%= @ancestor %></h1>
  <% if Gorodish.find_by(id: @id).mnemonics.count > 0 %>
    <h2>Current mnemonics:</h2>
    <% Gorodish.find_by(id: @id).mnemonics.each do |mnemonic| %>
      <%= mnemonic.aide %><br/>
    <% end %>
  <% end %>
<% end %>

<% if signed_in? %>
<h2>Your new mnemonic:</h2>
<div>
  <%= render 'shared/mnemonics_form' %>
</div>
<% end %>
