<div class="center">

<% @file = subtitle.filename + ".ogv" %>

<% if autoplay == 1 %>
  <video controls autoplay>
    <source src="http://mandarinbanana-assets.s3.amazonaws.com/<%= @file %>" type="video/ogg">
  </video>
<% else %>
  <video controls preload="metadata">
    <source src="http://mandarinbanana-assets.s3.amazonaws.com/<%= @file %>" type="video/ogg">
  </video>
<% end %>

<div class="example-sentence">
  <% subtitle.sentence.each_char do |char| %>
    <% @sentence_hanzi = Hanzi.find_by(character: char) %>
    <% if !@sentence_hanzi.nil? %>
      <div class="unknown-char">
        <span class="big-char">
	  <% if replace %>
            <%= link_to @sentence_hanzi.character.gsub(@hanzi.character, '[?]'), @sentence_hanzi %>
          <% else %>
            <%= link_to @sentence_hanzi.character, @sentence_hanzi %>
          <% end %>
        </span></br>
        <% if !signed_in? || current_user.reviews.find_by(hanzi_id: @sentence_hanzi.id).nil? %>
          <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
            <%= pd.pinyin %></br>
          <% end %>
	<% elsif reviewing && @hanzi.id == @sentence_hanzi.id %>
	  <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
            <%= pd.pinyin %></br>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= char %>
    <% end %>
  <% end %>
  <% if morelink %>
    &nbsp;<a href="/subtitles/<%= subtitle.id %>" class="morelink">&rarr;</a><br/>
  <% end %>
</div>
</div>
