<% provide(:title, @subtitle.sentence) %>
<h1><%= Movie.find(@subtitle.movie_id).title %></h1>

<div class="center">
  <%= render partial: "subtitle", locals: {morelink: false, subtitle: @subtitle, autoplay: 1, width: 640, height: 390, extensive: true} %>

  <%= form_for(@subtitle) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :sentence %>
    <%= f.text_field :sentence %>

    <%= f.label :words %>
    <%= f.text_field :words, value: @words_string %>

    <%= f.label :pinyin %>
    <%= f.text_area :pinyin, value: @pinyin_string %>

    <%= f.label :filename %>
    <%= f.text_field :filename %>

    </br>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>

</div>
