<% provide(:title, @subtitle.sentence) %>
<h1><%= Movie.find(@subtitle.movie_id).title %></h1>

<div class="center">
  <div class="sub-navigation">
    <%= previous_for @subtitle %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= next_for @subtitle %>
  </div>

  <%= render partial: "subtitle", locals: {morelink: false, replace: false, subtitle: @subtitle, autoplay: 1, width: 640, height: 390, reviewing: false, extensive: true} %>

  <div class="sub-navigation">
    <%= previous_for @subtitle %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= next_for @subtitle %>
  </div>

  <% if @subtitle.comments.any? %>
  <div>
    <h3> Comments (<%= @subtitle.comments.count %>)</h3>
    <ol class="comments">
      <%= render @comments %>
    </ol>
  </div>
  <% end %>

  <% if signed_in? %>
    <% if !@subtitle.comments.any? %>
      <h2>Write the first comment</h2>
    <% end %>
    <div>
      <%= render 'shared/comment_form' %>
    </div>
  <% end %>

</div>
