<h1>Introduction</h1>
<div>
<p>In 2010, Serge Gorodish posted a technique for memorizing the pronunciation of Chinese
characters <a target="_blank" href="http://countryoftheblind.blogspot.de/2012/01/mnemonics-for-pronouncing-chinese.html">on his blog "Country of the Blind"</a>—maybe his
greatest contribution to civilization, as he states in the article. Basically, pinyin syllabels are broken down into several pieces, initials and finals
plus tones (which I just call Gorodishes). Then, these are grouped and assigned mnemonics, where the mnemonics of a group of elements follow the same theme. For example, I chose the
following theme, basically following Serge's proposal:</p>
<p>
The initials b, p, m, f, d, t, n, l, g, k, h, zh, ch, sh, r z, c s, and 0 ("null") are represented by male persona. The initals li, y, bi, pi, mi, di, ti,
ni, ji, qi, and xi all have the "i" sound and are represented by female persona. The initials w, bu, pu, mu, fu, du, tu nu lu, gu ku hu zhu, chu, shu, ru
zu, su, and cu all have the "u" sound and are represented by animals. The initials yu, nü, lü, ju, qu, and xu all have the "ü" sound and are represented by
Greek deities. And for the finals: a, o, e, ai, ei, ao, ou, an, (e)n, ang, (e)ng, and 0 are all represented by locations, while the 1st tone is just in
front, the 2nd tone is just inside the entrance, the 3rd tone is any other location inside, the 4th tone is in the bathroom and the 5th tone is on the roof.
</p>
<p>
Basically that's it. Feel free to use any existing mnemonic, add some of your own or design your entirely own system of representations by personae!
</p>
</div>

<h1>All Gorodishes</h1>
<div>
<% @all_gorodishes.each do |g| %>
  <div>
  <a href="/gorodishes/<%= g.id %>"><%= g.element %></a> - 
  <a href="/gorodishes/<%= g.id %>/mnemonics/new">add mnemonic</a><br/>
  <% g.mnemonics.each do |mnemonic| %>
    <%= mnemonic.aide %> - <a href="/mnemonics/<%= mnemonic.id %>/images/new">add image</a></br>
    <% mnemonic.images.each do |image| %>
      <img width=100 src="<%= image.data %>">
    <% end %>
  <% end %>
  </div>
  </br>
<% end %> 
</div>
