<% provide(:title, @gorodish.element) %>

<h1>Gorodish element <%= @gorodish.element %></h1>
<h2>Existing mnemonics</h2>
<div class="center">
  <% if @gorodish.mnemonics.any? %>
    <% @gorodish.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
  <% else %>
    There are no mnemonics for <%= @gorodish.element %> yet.
  <% end %>
</div>
<br/>
<div class="center">
  <a href="/gorodishes/<%= @gorodish.id %>/mnemonics/new">add your own mnemonic</a>
</div>
<h2><%= @gorodish.element %> appears in</h2>
<div class="center">
  <% Pinyindefinition.where(["gbeginning = ? or gending = ?", @gorodish.element, @gorodish.element]).each do |pd| %>
    <% @hanzi = Hanzi.find(pd.hanzi_id) %>
    <a href="/hanzis/<%= @hanzi.id %>"><%= @hanzi.character %></a>
  <% end %>
</div>

</br></br>
<div class="center"><a href="/gorodishes">visit the Gorodish index</a></div>
