<% provide(:title, @gorodish.element) %>

<h1>Gorodish element <%= @gorodish.element %></h1>
<h2>Existing mnemonics</h2>
<div class="center">
  <% if @gorodish.mnemonics.any? %>
    <% @gorodish.mnemonics.each do |mnemonic| %>
      <%= render mnemonic %>
    <% end %>
  <% else %>
    There are no mnemonics for <%= @gorodish.element %> yet.
  <% end %>
</div>
<br/>
<div class="center">
  <a href="/gorodishes/<%= @gorodish.id %>/mnemonics/new">add your own mnemonic</a>
</div>
<h2><%= @gorodish.element %> appears in</h2>
<div class="appearances center">
  <% @appearances.each do |pd| %>
    <% @hanzi = Hanzi.find(pd.hanzi_id) %>
      <% if @hanzi.featured_images.any? %>
        <div class="appearance">
	  <a href="/hanzis/<%= @hanzi.id %>" class="big-char"><%= @hanzi.character %></a>
	  <br/>
          <% @hanzi.featured_images.each do |fimage | %>
       	    <a href="http://mandarinbanana-featured-paintings.s3-eu-west-1.amazonaws.com/<%= fimage.id %>.png">
	      <img src="http://mandarinbanana-featured-paintings.s3-eu-west-1.amazonaws.com/<%= fimage.id %>.png" alt="featured image for <%= @hanzi.character %>" width="150px">
	    </a>
	  <% end %>
	</div>
      <% else %>
        <a href="/hanzis/<%= @hanzi.id %>" class="big-char"><%= @hanzi.character %></a>
      <% end %>
  <% end %>
</div>

</br></br>
<div class="center"><a href="/gorodishes">visit the Gorodish index</a></div>
