<% provide(:title, 'Comments') %>
<h1>All comments</h1>

<%= will_paginate %>

<ul class="comments">
  <% @comments.reverse_each do |comment| %>
    <li>
      <span class="timestamp">
	<%= User.find_by(id: comment.user_id).name %> wrote <%= time_ago_in_words(comment.created_at) %> ago about
	<% @subtitle = Subtitle.find_by(id: comment.subtitle_id) %>
	<% if Subtitle.find_by(id: comment.subtitle_id).present? %>
	  "<a href="/subtitles/<%= Subtitle.find_by(id: comment.subtitle_id).id %>"><%= @sentence = @subtitle.sentence %></a>":
	<% else %>
	  <%= @sentence = 'a deleted subtitle' %>:
	<% end %>
      </span><span class="content"><%= comment.content %></span>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
