<% provide(:title, 'Index') %>
<h1>Featured Images Index</h1>

<div class="center">
  <ul class="fimages-ul">
    <% @featured_images.each do |fimage| %>
      <li>
	<a href="/featured_images/<%= fimage.id %>">
	  <img src="http://<%= S3_CONFIG["fimage_bucket"] %>.s3-eu-west-1.amazonaws.com/<%= fimage.id %>.png"
	       alt="featured image for <%= fimage.hanzi.character %>"
	       width="150px">
	</a>
	<br/>
	<div class="big-char hanzi">
	  <%= link_to fimage.hanzi.character, fimage %>
	</div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>

