<h1>Feature an image for <%= @hanzi.character %></h1>
<div class="center">
  <div class="center">
    <%= render partial: "images/image", locals: {width: 640, image: @image} %>
  </div>
  <div class="center">
    <%= render @mnemonic %>
  </div>
  <div class="center shrink">
    <%= render @hanzi %>
  </div>
  <br/><br/>
  <div>
    <%= form_for(@fimage) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
	<%= f.text_area :commentary, placeholder: "..." %>
	<%= f.text_area :mnemonic_aide, value: @mnemonic.aide %>
	<%= f.hidden_field :data, value: @image.data %>
	<%= f.hidden_field :hanzi_id, value: @hanzi.id %>
	<%= f.hidden_field :pinyindefinition_id, value: @mnemonic.pinyindefinition.id %>
      </div>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>

