<!-- Project Wonderful Ad Box Loader -->
<script type="text/javascript">
   (function(){function pw_load(){
      if(arguments.callee.z)return;else arguments.callee.z=true;
      var d=document;var s=d.createElement('script');
      var x=d.getElementsByTagName('script')[0];
      s.type='text/javascript';s.async=true;
      s.src='//www.projectwonderful.com/pwa.js';
      x.parentNode.insertBefore(s,x);}
   if (window.attachEvent){
    window.attachEvent('DOMContentLoaded',pw_load);
    window.attachEvent('onload',pw_load);}
   else{
    window.addEventListener('DOMContentLoaded',pw_load,false);
    window.addEventListener('load',pw_load,false);}})();
</script>
<!-- End Project Wonderful Ad Box Loader -->

<% provide(:title, @hanzi.character) %>

<div class="center">
  <div class="header">
    <div class="headerhanzicircle"><div class="headerhanzi hanzi"><%= @hanzi.character %></div></div>
    <div class="fimagepinyin">
      <span class="firstline">
        <%= link_to @fimage.pinyindefinition.pinyin, @fimage.pinyindefinition %>
      </span><br/>
      <span class="secondline">
	= 
	<%= link_to @gbeginning.element, @gbeginning %>
	+
	<%= link_to @gending.element, @gending %>
      </span>
    </div>
    <div class="fimagedefinition">
      <%= @fimage.pinyindefinition.definition %>
    </div>
  </div>

    <div class="firstlast">
      <% if !@first_featured_image.nil? %>
        <div class="bordered">
  	  <span>first:</span><br/>
	  <%= link_to "«", @first_featured_image %>
	</div>
      <% end %>
    </div>

    <div class="prevnext">
      <% if !@previous_featured_image.nil? %>
        <div class="bordered">
	  <span>previous:</span><br/>
	  <span>
	    <%= link_to @previous_featured_image.hanzi.character, @previous_featured_image, {class: "big-char hanzi"} %>
	  </span>
	  <br/>
	  <span>
	    <a href="/featured_images/<%= @previous_featured_image.id %>">
	      <img src="http://<%= S3_CONFIG["fimage_bucket"] %>.s3-eu-west-1.amazonaws.com/<%= @previous_featured_image.id %>.png"
		   alt="featured image for <%= @previous_featured_image.hanzi.character %>"
		   class="previous_next_image">
	    </a>
	  </span>
	</div>
      <% end %>
    </div>


    <div class="feature">
      <img src="http://<%= S3_CONFIG["fimage_bucket"] %>.s3-eu-west-1.amazonaws.com/<%= @fimage.id %>.png"
	   alt="featured image for <%= @hanzi.character %>">
      <div class="featured_mnemonic">
	<%= @aide.html_safe %>
      </div>
    </div>

    <div class="prevnext">
      <% if !@next_featured_image.nil? %>
        <div class="bordered">
	  <span>next:</span><br/>
	  <span>
	    <%= link_to @next_featured_image.hanzi.character, @next_featured_image, {class: "big-char hanzi"} %>
	  </span>
	  <br/>
	  <span>
	    <a href="/featured_images/<%= @next_featured_image.id %>">
	      <img src="http://<%= S3_CONFIG["fimage_bucket"] %>.s3-eu-west-1.amazonaws.com/<%= @next_featured_image.id %>.png"
		   alt="featured image for <%= @next_featured_image.hanzi.character %>"
		   class="previous_next_image">
	    </a>
	  </span>
	</div class="bordered">
      <% end %>
    </div>

    <div class="firstlast">
      <% if !@last_featured_image.nil? %>
        <div class="bordered">
  	  <span>last:</span><br/>
	  <%= link_to "»", @last_featured_image %>
	</div>
      <% end %>
    </div>

  </div>
  <div class="ads">
<!-- Project Wonderful Ad Box Code -->
<div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_74989_1_0"></div></div>
<script type="text/javascript"></script>
<noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap74989" id="admap74989"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=74989&type=1" shape="rect" coords="0,0,468,60" title="" alt="" target="_blank" /></map>
<table cellpadding="0" cellspacing="0" style="width:468px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=74989&type=1" style="width:468px;height:60px;border-style:none;" usemap="#admap74989" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=74989&type=1&tag=105112" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
</noscript>
<!-- End Project Wonderful Ad Box Code -->
  </div>
  <div class="center shrink">
    <%= @commentary.html_safe %>
  </div>
  <br/>

  <% if @hanzi.components != '' %>
    <h2>Composition: <span class="hanzi"><%= @hanzi.character %> = <%= @hanzi.components.split(//).join(' + ') %></span></h2>
    <div class="center decomposition_container">
      <%= render @hanzi %>
    </div>
  <% else %>
    <h2><span class="hanzi"><%= @hanzi.character %></span> can not be decomposed into smaller units.</h2>
    <div class="center decomposition_container">
      <%= render @hanzi %>
    </div>      
  <% end %>

  <% if !@stroke_order.nil? %>
    <h2>Wikimedia Commons:Stroke Order Project</h2>
    <a href="http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project" target="_blank">
      <%= image_tag @stroke_order, class: "stroke_order_image" %>
    </a>
  <% end %>

  <div class="center">
    <%= render partial: "hanzis/appearance", controller: Hanzi %>
  </div>

  <div class="center">
    <%= render partial: "hanzis/tradsimp", controller: Hanzi %>
  </div>

  <div class="center">
    <%= render partial: "hanzis/hsk", controller: Hanzi %>
  </div>

  <div class="center">
    <%= render partial: "hanzis/pronunciations", controller: Hanzi %>
  </div>

  <% if @examples.any? %>
    <h2>Example sentences for <span class="hanzi"><%= @hanzi.character %></span></h2>
    <div class="center">
      <%= render partial: "subtitles/subtitle", collection: @examples, locals: {morelink: true, autoplay: 0, width: 250, height: 150, extensive: false} %>
    </div>
  <% else %>
    <h2>There are no example sentences for this character.</h2>
  <% end %>

  <h2>See <span class="hanzi"><%= @hanzi.character %></span> on (opens in new window/tab)</h2>
  <div class="center">
    <a target="_blank" href="http://hanzicraft.com/character/<%= @hanzi.character %>">Hanzicraft</a><br/>
    <a target="_blank" href="http://www.mdbg.net/chindict/chindict.php?page=worddict&wdrst=0&wdqb=<%= @hanzi.character %>">MDBG</a><br/>
    <a target="_blank" href="http://en.wikipedia.org/wiki/<%= @hanzi.character %>">The English Wikipedia</a><br/>
    <a target="_blank" href="https://en.wiktionary.org/wiki/<%= @hanzi.character %>">The English Wiktionary</a><br/>
    <a target="_blank" href="http://stroke-order.learningweb.moe.edu.tw/characterQueryResult.do?word=<%= @hanzi.character %>">stroke-order.learningweb.moe.edu.tw</a><br/>
    <a target="_blank" href="http://tatoeba.org/eng/sentences/search?query=<%= @hanzi.character %>&from=cmn&to=und">Tatoeba</a><br/>
  </div>

  <% if @hanzi.comments.any? %>
    <div>
      <h2> Comments (<%= @hanzi.comments.count %>)</h2>
      <ol class="comments">
	<%= render @comments %>
      </ol>
    </div>
  <% end %>

  <% if signed_in? %>
    <% if !@hanzi.comments.any? %>
      <h2>Write the first comment</h2>
    <% end %>
    <div>
      <%= render 'shared/comment_form' %>
    </div>
  <% else %>
    <h2>Log in to write the first comment.</h2>
  <% end %>
  <br/>

  <% if signed_in? && current_user.admin? %>
    <br/>
    <div class="center">
      <%= link_to "Edit hanzi", edit_hanzi_path(@hanzi) %>
      | <%= link_to "New PD", new_pinyindefinition_path(:hanzi_id => @hanzi.id) %>
      | <%= link_to "Edit featured image", edit_featured_image_path(@fimage) %>
      | <%= link_to "Fimages download", featured_images_path(format: :csv) %>
      | <%= link_to "Mnemonics download", mnemonics_path(format: :csv) %>
    </div>
<% end %>


</div>
