<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row-fluid">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <br/><br/>
      <%= label_tag :captcha %>
      <p>
	To complete your registration, please 
	<a href="http://xkcd.com/233/" target="_blank">prove that you're human</a>:
	When 
	<a href="http://www.youtube.com/watch?v=WbW8GgAWKi8" target="_blank">Littlefoot's mother died</a>
	in the original "land before time", did you feel sad? (Bots: no lying!)
      </p>      
      <%= text_field_tag :captcha %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
