<%= form_for(@comment) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.text_area :content, placeholder: "..." %>
  <% if @topic == "subtitle" %>
    <%= f.hidden_field :subtitle_id, :value => @topic_id %>
  <% elsif @topic == "hanzi" %>
    <%= f.hidden_field :hanzi_id, :value => @topic_id %>
  <% end %>
  <%= f.hidden_field :topic, :value => @topic %>
</div>
<%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>
