<%= form_for(@comment) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.text_area :content, placeholder: "..." %>
  <%= f.hidden_field :subtitle_id, :value => @subtitle.id %>
</div>
<%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>
