<div class="center">
<%= form_for(@mnemonic) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.text_area :aide, placeholder: "..." %>
  <br/>
  <% unless @snippets.empty? %>
    <ul onclick="addSnippet(event)" id="snippetsul">
      <% @snippets.each do |s| %>
        <li class="smallhanzi"><%= s %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.hidden_field :gorodish_id, :value => @id if @parent == "gorodishes" %>
  <%= f.hidden_field :pinyindefinition_id, :value => @id if @parent == "pinyindefinitions" %>
  <br/>
  <br/>
</div>
<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
</div>
