<% @appearances = Hanzi.where('components LIKE ?', "%#{@hanzi.character}%") %>
<% if !@appearances.empty? %>
  <h2>Appears as component in</h2>
  <div class="center">
    <% @appearances.each do |a| %>
      <% if a.featured_images.any? %>
        <div class="appearance">
	  <a href="/hanzis/<%= a.id %>" class="big-char"><%= a.character %></a>
	  <br/>
          <% a.featured_images.each do |fimage | %>
       	    <a href="/featured_images/<%= fimage.id %>"><img src="<%= fimage.data %>" alt="featured image for <%= a.character %>" width="150px"></a>
	  <% end %>
	</div>
      <% else %>
        <a href="/hanzis/<%= a.id %>" class="big-char"><%= a.character %></a>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2>This character is not a component of another character.</h2>
<% end %>

