
<table class="hanzitable">
  <tr class="definition-row">
    <td>
      <span class="single-char">
	<b><%= link_to hanzi.character, hanzi %></b>
      </span>
    </td>
    <td>
      <table class="hanzitable">
	<% hanzi.pinyindefinitions.each do |pinyindefinition| %>
	  <tr>
	    <td style="white-space:nowrap; vertical-align: top; padding: 5px;">
	      <%= pinyindefinition.pinyin %>
	      <% if pinyindefinition.gbeginning.present? %>
	        =<br/>
	        <a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gbeginning).id %>">
	          <%= pinyindefinition.gbeginning %>
		</a>
		+
		<a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gending).id %>">
		  <%= pinyindefinition.gending %>
		</a>
	      <% end %>	    
	    </td>
	    <td style="padding: 5px;">
	      <p>
		<%= pinyindefinition.definition %> |
     		<a href="/pinyindefinitions/<%= pinyindefinition.id %>/mnemonics/new">
		  add a mnemonic for this meaning of <%= hanzi.character %>
		</a>
		<% if signed_in? && current_user.admin? %>
  	          | <%= link_to "update", edit_pinyindefinition_path(pinyindefinition) %>
	          | <%= link_to "delete", pinyindefinition, method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	      </p>
	      <% pinyindefinition.mnemonics.each do |mnemonic| %>
	        <%= render mnemonic %><br/>
	      <% end %>
	    </td>
	  </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <% if !hanzi.components.empty? %>
    <% hanzi.components.each_char do |c| %>
      <tr>
	<td class="decomposition">
	  <span>
	    <%= hanzi.character %>
	  <br/>
	  <span>
	    = 
	  </span>
	  <br/>
	  <span>
	    <%= hanzi.components.split(//).join('	</span><br/><span>+</span><br/><span>').html_safe %>
	  </span>
	</td>
	<td>
	  <% @c_hanzi=Hanzi.find_by(character: c) %>
	  <%= render partial: "hanzis/hanzi", locals: {hanzi: @c_hanzi} %>
	</td>
      </tr>
    <% end %>
  <% end %>
</table>




