<h2>Simplification</h2>
<div class="center">
  <% if @hanzi.traditional_variants.any? %>
    <%= @hanzi.character %> is the simplified version of 
    <% @hanzi.traditional_variants.each do |t| %>
      <%= link_to t.character, t %>
    <% end %>
  <% elsif @hanzi.simplified_variants.any? %>
    <%= @hanzi.character %> is the traditional variant of 
    <% @hanzi.simplified_variants.each do |s| %>
      <%= link_to s.character, s %>
    <% end %>
  <% else %>
    <%= @hanzi.character %> has no simplified variant.
  <% end %>
</div>
