<% provide(:title, "Edit hanzi") %>
<h1>Update <%= @hanzi.character %></h1>

<div class="center">
  <div class="center">
    <%= form_for(@hanzi) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :components %>
      <%= f.text_field :components %>

      <div>
	Here are some basic strokes for copy-pasting: ㇀㇁㇂㇃㇄㇅㇆㇇㇈㇉㇊㇋㇌㇍㇎㇏一丨<U+31D2>
      </div>
      <br/>
      <div>
	Hanzis without further decomposinition:<br/>
	<% @atoms.each do |a| %>
	  <span><%= a.character %></span>
	<% end %>
      </div>
      <br/>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
