<% provide(:title, @hanzi.character) %>
<h1>
  <%= @hanzi.character %><br/>
</h1>
<% @hanzi.pinyindefinitions.each do |pinyindefinition| %>
  <div class="row-fluid">
    <div class="span2 pagination-centered">
      <b><%= @hanzi.character %></b><br/>
      <b><%= pinyindefinition.pinyin %> - <a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gbeginning).id %>"><%= pinyindefinition.gbeginning %></a><a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gending).id %>"><%= pinyindefinition.gending %></a></b>
    </div>
    <div class="span10">
      <%= pinyindefinition.definition %> - <a href="/pinyindefinitions/<%= pinyindefinition.id %>/mnemonics/new">add a mnemonic for this meaning of <%= @hanzi.character %></a><br/><br/>
      <% pinyindefinition.mnemonics.each do |mnemonic| %>
        <%= mnemonic.aide %> - <a href="/mnemonics/<%= mnemonic.id %>/images/new">add a painting to this mnemonic</a><br/>
        <% mnemonic.images.each do |image| %>
          <img width=200 src="<%= image.data %>">
        <% end %><br/>
      <% end %>
    </div>
  </div>
<% end %>
<h2>Elements of <%= @hanzi.character %></h2>
<%= decompose @hanzi.components %>

<% if signed_in? && current_user.admin? %>
  <%= link_to "Edit hanzi", edit_hanzi_path(@hanzi) %>
<% end %>

<h2>Example sentences</h2>
<% @examples.each do |example| %>
  <%= example.sentence %> <a href="/subtitles/<%= example.id %>">more...</a><br/>
<% end %>

<% if @hanzi.comments.any? %>
<div>
  <h2> Comments (<%= @hanzi.comments.count %>)</h2>
  <ol class="comments">
    <%= render @comments %>
  </ol>
</div>
<% end %>

<% if signed_in? %>
<% if !@hanzi.comments.any? %>
  <h2>Write the first comment</h2>
<% end %>
<div>
  <%= render 'shared/comment_form' %>
</div>
<% end %>
