<% provide(:title, @hanzi.character) %>
<h1>
  <%= @hanzi.character %><br/>
</h1>

<% @hanzi.pinyindefinitions.each do |pinyindefinition| %>
  <div class="row-fluid">
    <div class="span2 pagination-centered">
      <b><%= @hanzi.character %></b><br/>
      <b><%= pinyindefinition.pinyin %>
      <% if pinyindefinition.gbeginning.present? %>
        | <a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gbeginning).id %>"><%= pinyindefinition.gbeginning
      %></a><a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gending).id %>"><%= pinyindefinition.gending %></a>
      <% end %>
    </b></div>
    <div class="span10">
      <%= pinyindefinition.definition %> | <a href="/pinyindefinitions/<%= pinyindefinition.id %>/mnemonics/new">add a mnemonic for this meaning of <%= @hanzi.character %></a>
      <% if signed_in? && current_user.admin? %>
        | <%= link_to "update", edit_pinyindefinition_path(pinyindefinition) %>
        | <%= link_to "delete", pinyindefinition, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
      <br/><br/>
      <% pinyindefinition.mnemonics.each do |mnemonic| %>
        <%= mnemonic.aide %> - <a href="/mnemonics/<%= mnemonic.id %>/images/new">add a painting to this mnemonic</a><br/>
        <% mnemonic.images.each do |image| %>
          <img width=200 src="<%= image.data %>">
        <% end %><br/>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@stroke_order.nil? %>
<h2>Wikimedia Commons:Stroke Order Project</h2>
  <div class="row-fluid text-center">
    <a href="http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project" target="_blank">
      <%= image_tag @stroke_order %>
    </a>
  </div>
<% end %>

<h2>Elements of <%= @hanzi.character %></h2>
<%= decompose @hanzi.components %>

<% if signed_in? && current_user.admin? %>
  <%= link_to "Edit hanzi", edit_hanzi_path(@hanzi) %> | <%= link_to "New PD", new_pinyindefinition_path(:hanzi_id => @hanzi.id) %>
<% end %>

<%= render partial: "appearance" %>

<h2>Example sentences</h2>
<% @examples.each do |example| %>
  <%= example.sentence %> <a href="/subtitles/<%= example.id %>">more...</a><br/>
<% end %>

<h2>See this character on</h2>
<div>
  <a target="_blank" href="http://hanzicraft.com/character/<%= @hanzi.character %>">Hanzicraft</a></br>
  <a target="_blank" href="http://www.mdbg.net/chindict/chindict.php?page=worddict&wdrst=0&wdqb=<%= @hanzi.character %>">MDBG</a></br>
  <a target="_blank" href="http://en.wikipedia.org/wiki/<%= @hanzi.character %>">The English Wikipedia</a></br>
  <a target="_blank" href="https://en.wiktionary.org/wiki/<%= @hanzi.character %>">The English Wiktionary</a></br>
  <a target="_blank" href="http://stroke-order.learningweb.moe.edu.tw/characterQueryResult.do?word=<%= @hanzi.character %>">stroke-order.learningweb.moe.edu.tw</a></br>
</div>

<h2>Review</h2>
<% if signed_in? %>
  <% @review = current_user.reviews.find_by(hanzi_id: @hanzi.id) %>
  <% if @review.nil? %>
    <%= form_for(current_user.reviews.build(hanzi_id: @hanzi.id)) do |f| %>
      <div><%= f.hidden_field :hanzi_id %></div>
      <%= f.submit "Review this character", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.reviews.find_by(hanzi_id: @hanzi.id), html: { method: :delete}) do |f| %>
      <div><%= f.hidden_field :hanzi_id %></div>
      <%= f.submit "Stop reviewing", class: "btn btn-large btn-primary" %>
    <% end %>  
  <% end %>
<% end %>

<% if @hanzi.comments.any? %>
<div>
  <h2> Comments (<%= @hanzi.comments.count %>)</h2>
  <ol class="comments">
    <%= render @comments %>
  </ol>
</div>
<% end %>

<% if signed_in? %>
<% if !@hanzi.comments.any? %>
  <h2>Write the first comment</h2>
<% end %>
<div>
  <%= render 'shared/comment_form' %>
</div>
<% end %>
