<% provide(:title, @hanzi.character) %>
<h1><%= @hanzi.character %></h1>

<% if signed_in? && current_user.admin? %>
  <div class="center">
    <br/>
    <%= link_to "Edit hanzi", edit_hanzi_path(@hanzi) %> | <%= link_to "New PD", new_pinyindefinition_path(:hanzi_id => @hanzi.id) %>
  </div>
<% end %>

<div class="center">
  <%= render @hanzi %>
</div>

<div class="center">
  <% if !@stroke_order.nil? %>
    <h2>Wikimedia Commons:Stroke Order Project</h2>
    <a href="http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project" target="_blank">
      <%= image_tag @stroke_order, class: "stroke_order_image" %>
    </a>
  <% end %>
</div>

<div class="center">
  <%= render partial: "appearance" %>
</div>

<div class="center">
  <%= render partial: "tradsimp" %>
</div>

<div class="center">
  <%= render partial: "hsk" %>
</div>

<div class="center">
  <%= render partial: "pronunciations" %>
</div>

<% if @examples.any? %>
  <h2>Example sentences for <%= @hanzi.character %></h2>
  <div class="center">
    <%= render partial: "subtitles/subtitle", collection: @examples, locals: {morelink: true, autoplay: 0, width: 250, height: 150, extensive: false} %>
  </div>
<% else %>
  <h2>There are no example sentences for <%= @hanzi.character %>.</h2>
<% end %>

<h2>See <%= @hanzi.character %> on (opens in new window/tab)</h2>
<div class="center">
  <a target="_blank" href="http://hanzicraft.com/character/<%= @hanzi.character %>">Hanzicraft</a><br/>
  <a target="_blank" href="http://www.mdbg.net/chindict/chindict.php?page=worddict&wdrst=0&wdqb=<%= @hanzi.character %>">MDBG</a><br/>
  <a target="_blank" href="http://en.wikipedia.org/wiki/<%= @hanzi.character %>">The English Wikipedia</a><br/>
  <a target="_blank" href="https://en.wiktionary.org/wiki/<%= @hanzi.character %>">The English Wiktionary</a><br/>
  <a target="_blank" href="http://stroke-order.learningweb.moe.edu.tw/characterQueryResult.do?word=<%= @hanzi.character %>">stroke-order.learningweb.moe.edu.tw</a><br/>
  <a target="_blank" href="http://tatoeba.org/eng/sentences/search?query=<%= @hanzi.character %>&from=cmn&to=und">Tatoeba</a><br/>
</div>

<% if @hanzi.comments.any? %>
<div>
  <h2> Comments (<%= @hanzi.comments.count %>)</h2>
  <ol class="comments">
    <%= render @comments %>
  </ol>
</div>
<% end %>

<% if signed_in? %>
  <% if !@hanzi.comments.any? %>
    <h2>Write the first comment</h2>
  <% end %>
  <div>
    <%= render 'shared/comment_form' %>
  </div>
<% else %>
  <h2>Log in to write the first comment.</h2>
<% end %>

