<% provide(:title, @hanzi.character) %>
<div class="row">
  <h1>
    <%= @hanzi.character %><br/>
  </h1>
  <div>
    <% @hanzi.pinyindefinitions.each do |pinyindefinition| %>
      <b><%= pinyindefinition.pinyin %> - <%= pinyindefinition.gbeginning %><%= pinyindefinition.gending %></b>: <%= pinyindefinition.definition %><br/>
    <% end %>
  </div>
  <hr/>
  <%= decompose @hanzi.components %>
</div>
