<h1>
  <%= link_to @hanzi.character, @hanzi %><br/>
</h1>

<% @hanzi.pinyindefinitions.each do |pinyindefinition| %>
  <div class="row-fluid">
    <div class="span2 pagination-centered">
      <b><%= @hanzi.character %></b><br/>
      <b><%= pinyindefinition.pinyin %>
      <% if pinyindefinition.gbeginning.present? %>
        | <a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gbeginning).id %>"><%= pinyindefinition.gbeginning
      %></a><a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gending).id %>"><%= pinyindefinition.gending %></a>
      <% end %>
    </b></div>
    <div class="span10">
      <%= pinyindefinition.definition %>
      <br/><br/>
      <% pinyindefinition.mnemonics.each do |mnemonic| %>
        <%= mnemonic.aide %><br/>
        <% mnemonic.images.each do |image| %>
          <img width=200 src="<%= image.data %>">
        <% end %><br/>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@stroke_order.nil? %>
<h2>Wikimedia Commons:Stroke Order Project</h2>
  <div class="row-fluid text-center">
    <a href="http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project" target="_blank">
      <%= image_tag @stroke_order %>
    </a>
  </div>
<% end %>

<h2>Elements of <%= @hanzi.character %></h2>
<%= decompose @hanzi.components %>

<div class="row-fluid, center">
  <% @examples.each do |example| %>
    <iframe id="ytplayer" type="text/html" width="200" height="200"
     src="https://www.youtube.com/embed/<%= Movie.find(example.movie_id).youtube_id %>?autoplay=0&rel=0&start=<%= example.start %>&end=<%= example.stop %>&showinfo=0"
     frameborder="0"></iframe>
    <div class="example-sentence">
      <% example.sentence.each_char do |char| %>
        <% @sentence_hanzi = Hanzi.find_by(character: char) %>
        <% if !@sentence_hanzi.nil? %>
	  <div class="unknown-char">
	  <span class="big-char">
          <%= link_to @sentence_hanzi.character, @hanzi %>
          </span></br>
	  <% if current_user.reviews.find_by(hanzi_id: @sentence_hanzi.id).nil? %>
	    <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
              <%= pd.pinyin %></br>
	    <% end %>
	  <% elsif @hanzi.id == @sentence_hanzi.id %>
	    <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
              <%= pd.pinyin %></br>
	    <% end %>
	  <% end %>
          </div>
        <% else %>
          <%= char %>
        <% end %>
      <% end %>
      <a href="/subtitles/<%= example.id %>">more...</a><br/>
    </div>
  <% end %>
</div>

<h2>Review</h2>
<% if signed_in? %>
  <% @review = current_user.reviews.find_by(hanzi_id: @hanzi.id) %>
  <% if @review.nil? %>
    <%= form_for(current_user.reviews.build(hanzi_id: @hanzi.id)) do |f| %>
      <div><%= f.hidden_field :hanzi_id %></div>
      <%= f.submit "Review this character", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.reviews.find_by(hanzi_id: @hanzi.id), html: { method: :delete}) do |f| %>
      <div><%= f.hidden_field :hanzi_id %></div>
      <%= f.submit "Stop reviewing", class: "btn btn-large btn-primary" %>
    <% end %>  
  <% end %>
<% end %>

<% if @hanzi.comments.any? %>
<div>
  <h2> Comments (<%= @hanzi.comments.count %>)</h2>
  <ol class="comments">
    <%= render @comments %>
  </ol>
</div>
<% end %>

<div class="row-fluid">
  Rate yourself:
  <%= link_to "Again" , controller: "reviews", action: "fail", review_id: @review.id %>
  <%= link_to "Hard" , controller: "reviews", action: "validate", review_id: @review.id, rating: 2 %>
  <%= link_to "Okay" , controller: "reviews", action: "validate", review_id: @review.id, rating: 3 %>
  <%= link_to "Easy" , controller: "reviews", action: "validate", review_id: @review.id, rating: 4 %>
</div>

