<div class="row-fluid, center">
  <% @examples.each do |example| %>
    <iframe id="ytplayer" type="text/html" width="200" height="200"
     src="https://www.youtube.com/embed/<%= Movie.find(example.movie_id).youtube_id %>?autoplay=0&rel=0&start=<%= example.start %>&end=<%= example.stop %>&showinfo=0"
     frameborder="0"></iframe>
    <div class="example-sentence">
      <% example.sentence.each_char do |char| %>
        <% @sentence_hanzi = Hanzi.find_by(character: char) %>
        <% if !@sentence_hanzi.nil? %>
	  <div class="unknown-char">
	  <span class="big-char">
          <%= link_to @sentence_hanzi.character.gsub(@hanzi.character, '[?]'), @hanzi %>
          </span></br>
	  <% if current_user.reviews.find_by(hanzi_id: @sentence_hanzi.id).nil? %>
	    <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
              <%= pd.pinyin %></br>
	    <% end %>
	  <% elsif @hanzi.id == @sentence_hanzi.id %>
	    <% @sentence_hanzi.pinyindefinitions.each do |pd| %>
              <%= pd.pinyin %></br>
	    <% end %>
	  <% end %>
          </div>
        <% else %>
          <%= char %>
        <% end %>
      <% end %>
      <a href="/subtitles/<%= example.id %>">more...</a><br/>
    </div>
  <% end %>
</div>

<% @hanzi.pinyindefinitions.each do |pinyindefinition| %>
  <div class="row-fluid">
    <div class="span2 pagination-centered">
      <b><%= pinyindefinition.pinyin %>
      <% if pinyindefinition.gbeginning.present? %>
        | <a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gbeginning).id %>"><%= pinyindefinition.gbeginning
      %></a><a href="/gorodishes/<%= Gorodish.find_by(element: pinyindefinition.gending).id %>"><%= pinyindefinition.gending %></a>
      <% end %>
    </b></div>
    <div class="span10">
      <%= pinyindefinition.definition.gsub @hanzi.character, '[?]' %> | <a href="/pinyindefinitions/<%= pinyindefinition.id %>/mnemonics/new">add a mnemonic for this meaning of [?]</a>
      <% if signed_in? && current_user.admin? %>
        | <%= link_to "update", edit_pinyindefinition_path(pinyindefinition) %>
        | <%= link_to "delete", pinyindefinition, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
      <br/><br/>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <%= link_to "Show answer", controller: "reviews", action: "answer", review_id: @review.id %>
</div>

