<% @user = User.find_by(id: image.user_id) %>
<div class="center image">
  <div>
    <a href="http://mandarinbanana-paintings.s3-eu-west-1.amazonaws.com/<%= image.id %>.png">
      <img src="http://mandarinbanana-paintings.s3-eu-west-1.amazonaws.com/<%= image.id %>.png" alt="image painted by <%= @user.name %>" width="<%= width %>px">
    </a>
  </div>
  <div><span class="timestamp">Image by <%= @user.name %>,</br><%= time_ago_in_words(image.created_at) %>
      ago</span>
    <% if signed_in? %>
      <% if current_user?(User.find_by(id: image.user_id)) || current_user.admin? %>
        <br/><%= link_to "delete", image, method: :delete, data: { confirm: "Are you sure?" }  %>
      <% end %>
      <% if current_user.admin? %>
	| <a href="/featured_images/<%= image.id %>/new">+F</a>
      <% end %>
    <% end %>
  </div>
</div>

