<% provide(:title) %>

<h1>Paint something!</h1>

<h2>Mnemonics</h2>
<% if !@mnemonic.pinyindefinition_id.nil? %>
  <% @pinyindefinition = Pinyindefinition.find_by(id: @mnemonic.pinyindefinition_id) %>
  <% Gorodish.find_by(element: @pinyindefinition.gbeginning).mnemonics.each do |mnemonic| %>
    <% mnemonic.images.each do |image| %>
      <img width="100" src="<%= image.data %>" onclick="addImage(this.src);">
    <% end %>
  <% end %>
  <% Gorodish.find_by(element: @pinyindefinition.gending).mnemonics.each do |mnemonic| %>
    <% mnemonic.images.each do |image| %>
      <img width="100" src="<%= image.data %>" onclick="addImage(this.src);">
    <% end %>
  <% end %>
  <% @pinyindefinition.mnemonics.each do |mnemonic| %>
    <%= mnemonic.aide %>
    <% mnemonic.images.each do |image| %>
      <img width="100" src="<%= image.data %>" onclick="addImage(this.src);">
    <% end %>
  <% end %>
<% end %>

<% if !@mnemonic.gorodish_id.nil? %>
  <% Gorodish.find_by(id: @mnemonic.gorodish_id).mnemonics.each do |mnemonic| %>
    <%= mnemonic.aide %>
    <% mnemonic.images.each do |image| %>
      <img width="100" src="<%= image.data %>" onclick="addImage(this.src);">
    <% end %>
  <% end %>
<% end %>

<h2>Your canvas</h2>
<%= render 'images/drawing.html' %>

<%= form_for(@image,:html => { :onsubmit => 'createimagedata();' })  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :mnemonic_id, :value => @mnemonic.id %>
  <input id="image_data" name="image[data]" type="hidden" value=""/>
<%= f.submit "Save", class: "btn btn-large btn-primary"%>
<% end %>



